* {
    user-select: none;
}
body {
    display: flex;
    flex-direction: column;
}

#sprite {
    border: 1px solid #000000;
}

#canvas, #sprite {
    width: 100%;
    max-width: 400px;
    /* object-fit: contain; */
}
