* {
    user-select: none;
    box-sizing: border-box;
}
@font-face {
  font-family: 'PressStart2P-Regular';
  src: url("./assets/PressStart2P-Regular.ttf") format("truetype");
}

.pixel-font {
    font-family: 'PressStart2P-Regular', Courier, monospace;;
}

body {
    display: flex;
    flex-direction: column;
}
#status {
    display: flex;
}
#sprite {
    border: 1px solid #000000;
}

#canvas, #sprite {
    width: 100%;
}
.row {
    display: flex;
}

#sprite {
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2px;
}

.game {
    max-width: 700px;
}